/*
*	HTML5 Boilerplate using Compass/SASS
*	Author: Hebert SIlva
*	Contact: hebertsilva.com
*/

@import "core/base";

/*
*	CSS BASE
*/

body, html {
	width: 100%;
	height: 100%;
	font-size: $fz-default;
	@include font-01;
	color: $color-default;
}