@import "core/base";

.wrapper-login {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: image-url('common/bg.jpg') no-repeat center / cover $color-default;
	display: table;

	.inner {
		vertical-align: middle;
		display: table-cell;
	}

	.site-logo {
		@include hide-text;
		width: image-width('common/logo.png');
		height: image-height('common/logo.png');
		background: image-url('common/logo.png') no-repeat;
		margin: 0 auto;
	}

	.form-login {
		@include border-radius(3px);
		width: 360px;
		padding: 40px;
		background-color: $white;
		margin: 0 auto;
		box-sizing: border-box;

		.form {
			margin-top: 20px;
		}

		input[type="text"],
		input[type="password"] {
			@include border-radius(2px);
			outline: none;
			box-sizing: border-box;
			font-size: 18px;
			color: $color-default;
			padding: 8px;
			border: 1px solid $border-input;
			margin-bottom: 10px;
			width: 100%;
			height: 45px;

			&:focus {
				border-color: $bg-button-border-input;
			}
		}
	}

	.btn-login {
		@extend %button-blue;
		margin-top: 50px;
	}
}