
@mixin button-default() {
	outline: 0;
	border: 0;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	@include border-radius(2px);
	padding: 8px;
	width: 100%;
}

%button-blue {
	@include button-default;
	background: $bg-button-border-input;
	color: $white;
	font-size: 18px;
	height: 45px;	
}