/*
*	Utils site
*/

@import "compass/utilities/general/clearfix";
@import "compass/typography/text/replacement";

.clearfix {
    @include legacy-pie-clearfix;   
}

.ir {
    @include hide-text("left");
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}